.contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	padding: 10px;
	top margin: 10px;
	bottom margin: 10px;
	border-radius: 10px;
}

.list {
	font-size: .8em;
}

ul li:first-child {
	color: blue;
}

section h2 {
	color: red;
}